@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}


.test:hover
{
  color: green;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #2f6e98;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3498db;
  height: 45px;
}

ul img {
  height: 50px;
  width: 50px;
  float: left;
  padding-right: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3284bb;
}
